*{
    margin: 0;
    box-sizing: border-box;
}
#tabla{
    margin: 20px auto;
    width: 90vw;
    min-height: 90vh;
    max-height: auto;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 140px);
}
div{
    text-align: center;
    display: flex;
    border: 1px solid black;
}